@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: #A9FFF1;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

html {
  height: 100%;

}


body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,  #01156a, #0129af)
    rgb(var(--background-start-rgb));
  height: 100%;
}

.fluorescent-text {
  color: #A9FFF1;
  text-shadow: 0 0 10px #A9FFF1, 0 0 10px #A9FFF1,  0 0 20px #0037F1, 0 0 30px #0037F1, 0 0 50px #0037F1, 0 0 70px #0037F1, 0 0 100px #0037F1;
}

.my-glow {
  position: absolute;
  top: calc(50% - 150px);
  left: calc(50% - 150px);
  width: 300px;
  height: 300px;
  border-radius: 50%;
  box-shadow:
    inset 0 0 50px #fff,
    inset 20px 0 80px #f0f,
    inset -20px 0 80px #0ff,
    inset 20px 0 300px #f0f,
    inset -20px 0 300px #0ff,
    0 0 50px #fff,
    -10px 0 80px #f0f,
    10px 0 80px #0ff;
}

